<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.7.10/vue.min.js"
        integrity="sha512-H8u5mlZT1FD7MRlnUsODppkKyk+VEiCmncej8yZW1k/wUT90OQon0F9DSf/2Qh+7L/5UHd+xTLrMszjHEZc2BA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="script.js" defer></script>
    <title>Vue Hello</title>
</head>

<body>
    <div class="container my-5">
        <div :class="rowClass">
            <div class="col-12 d-flex flex-column justify-content-center">
                <h1 class="text-success text-center mb-3">Inserisci i tuoi dati</h1>
                <div :class="divClass">
                    <input type="text" v-model="nomeUtente" placeholder="Inserisci Nome">
                    <input type="text" v-model="cognomeUtente" placeholder="Inserisci Cognome">
                </div>
                <div :class="divClass">
                    <button :class="buttonClass" @click="salutaUtente">INVIA</button>
                </div>
            </div>
        </div>
        <div :class="rowClass">
            <div :class="divClass">
                <h2 :class="h2Class">Ciao {{nomeUtente}} {{cognomeUtente}} , benvenuto su Vue
                </h2>
            </div>
            <div :class="divClass">
                <img class="w-25" :src="imgurl" alt="">
            </div>
        </div>
</body>

</html>